@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import "tailwindcss";

@layer base {
    body{
        @apply flex flex-col min-h-screen bg-white text-black
    }
        
    :root{
        /* максимальная ширина контента */
        @apply [--widthContent:1280px]
        /* Растояние от границы брузера по бокам */
        [--widthContentMargin:15px] sm:[--widthContentMargin:20px] xl:[--widthContentMargin:30px]
    }    

    /* Настройка кастомных контейнеров */
    /* Применение системы гридов для расположения контента в ячейку main или full или в любую другую ячейку между именованными линиями grid*/

    .grid-container{        
        grid-template-columns: [full-start] minmax(var(--widthContentMargin), 1fr) [main-start] minmax(0, var(--widthContent)) [main-end] minmax(var(--widthContentMargin), 1fr) [full-end];
        @apply grid
    }

    .grid-container>*{        
        @apply col-[main]
    }    

    .wrapper{ 
        @apply mr-auto max-w-[var(--widthContent)]
    }

    .container{        
        @apply max-w-[var(--widthContent)]
    } 
}

body {
    font-family: "Italiana", sans-serif;
    font-style: normal;
}